<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/favicon.png">
    <title>@ViewBag.Title | Policlinic Control</title>

    @Styles.Render("~/Content/css/lib/chartist/chartist.min.css")
    @Styles.Render("~/Content/css/lib/owl.carousel.min.css")
    @Styles.Render("~/Content/css/lib/owl.theme.default.min.css")
    @Styles.Render("~/Content/css/lib/bootstrap/bootstrap.min.css")
    @Styles.Render("~/Content/css/helper.css")
    @Styles.Render("~/Content/css/style.css")
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b><img src="/Content/images/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="/Content/images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                       
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/Content/images/users/5.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    
                                    <li><a href="/Login/Logoff"><i class="fa fa-power-off"></i> Выйти</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Страницы</li>
                        @if (HttpContext.Current.Session["IsReport"] != null && (bool)HttpContext.Current.Session["IsReport"])
                        {
                             <li>
                                <a href="/" aria-expanded="false">

                                    <i class="fa fa-add"></i>
                                    <span class="hide-menu">
                                        Отчет
                                    </span>
                                </a>
                            </li>
                        }
                       
                         @if (HttpContext.Current.Session["IsAttach"] != null &&  (bool)HttpContext.Current.Session["IsAttach"])
                         {
                            <li>
                                <a href="/MedAttach" aria-expanded="false">

                                    <i class="fa fa-add"></i>
                                    <span class="hide-menu">
                                        Прикрепление пациентов
                                    </span>
                                </a>
                            </li>
                         }
                        @if (HttpContext.Current.Session["IsControl"] != null &&  (bool)HttpContext.Current.Session["IsControl"])
                        {
                            <li>
                                <a href="/AttachControl" aria-expanded="false">
                                    <i class="fa fa-add"></i>
                                    <span class="hide-menu">
                                        Контролирующий Модуль
                                    </span>
                                </a>
                            </li>
                        }
                        
                        @if (HttpContext.Current.Session["IsAdmin"] != null &&  (bool)HttpContext.Current.Session["IsAdmin"])
                        {
                            <li class="nav-label">Справочники</li>
                            <li>
                                <a href="/MedOrg" aria-expanded="false">
                                    <i class="fa fa-add"></i>
                                    <span class="hide-menu">
                                        Поликлиники
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/Client" aria-expanded="false">
                                    <i class="fa fa-add"></i>
                                    <span class="hide-menu">
                                        Пациенты
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/User" aria-expanded="false">
                                    <i class="fa fa-add"></i>
                                    <span class="hide-menu">
                                        Пользователи
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">

            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Главная</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                @RenderBody()

            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved.</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    @Scripts.Render("~/Content/js/lib/jquery/jquery.min.js")
    @Scripts.Render("~/Content/js/lib/bootstrap/js/popper.min.js")
    @Scripts.Render("~/Content/js/lib/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/jquery.slimscroll.js")
    @Scripts.Render("~/Content/js/sidebarmenu.js")
    @Scripts.Render("~/Content/js/lib/sticky-kit-master/dist/sticky-kit.min.js")
    
    @Scripts.Render("~/Content/js/lib/owl-carousel/owl.carousel.min.js")
    @Scripts.Render("~/Content/js/lib/owl-carousel/owl.carousel-init.js")

    @Scripts.Render("~/Content/js/custom.min.js")
    @Scripts.Render("~/Content/js/ModalForm.js")

</body>

</html>